* {
    margin: 0%;
    padding: 0%;
}

header {
    display: grid;
    width: 100%;
    background-color: turquoise;
    padding: 25px 8%;
    grid-template-columns: 1fr;
}

.minha-logo {
    width: 5%;
    display: grid;
   }

main {
    background-color: rgb(157, 88, 207);
    padding: 30px 8%;
    align-self: center;
    text-align: center;
    width: 100%;
    
}

.minha-imagem {
    width: 20%;
    border-radius: 50px;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: turquoise;
    padding: 25px 8%;
    text-align: center;
}

.iconeGitHub {
    width: 3%;
    
}