@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'BIZ UDGothic', sans-serif;
    background-image: url('./Images/space.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: white;
}